# Olympic Medals Data Analysis

In [121]:
import pandas as pd
pd.options.display.max_rows=100

In [122]:
medals = pd.read_csv('summer.csv')
medals.head()

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver

In [3]:
medals.sort_values(['Year','Sport','Discipline','Event'])

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver
...,...,...,...,...,...,...,...,...,...
31160,2012,London,Wrestling,Wrestling Freestyle,"JANIKOWSKI, Damian",POL,Men,Wg 84 KG,Bronze
31161,2012,London,Wrestling,Wrestling Freestyle,"REZAEI, Ghasem Gholamreza",IRI,Men,Wg 96 KG,Gold
31162,2012,London,Wrestling,Wrestling Freestyle,"TOTROV, Rustam",RUS,Men,Wg 96 KG,Silver
31163,2012,London,Wrestling,Wrestling Freestyle,"ALEKSANYAN, Artur",ARM,Men,Wg 96 KG,Bronze
31164,2012,London,Wrestling,Wrestling Freestyle,"LIDBERG, Jimmy",SWE,Men,Wg 96 KG,Bronze

In [4]:
medals_new = medals.drop(['City'],axis=1)

In [5]:
medals_new.loc[(medals_new.Year==1996) & (medals_new.Country == 'BUL')& (medals_new.Medal == 'Bronze'),:]

,Year,Sport,Discipline,Athlete,Country,Gender,Event,Medal
21999,1996,Canoe / Kayak,Canoe / Kayak F,"DUSHEV, Andrian",BUL,Men,K-2 1000M (Kayak Double),Bronze
22000,1996,Canoe / Kayak,Canoe / Kayak F,"KAZANOV, Milko",BUL,Men,K-2 1000M (Kayak Double),Bronze
22861,1996,Shooting,Shooting,"GROZDEVA, Maria",BUL,Women,10M Air Pistol (40 Shots),Bronze
22864,1996,Shooting,Shooting,"KIRIAKOV, Tanyu",BUL,Men,10M Air Pistol (60 Shots),Bronze
23071,1996,Weightlifting,Weightlifting,"MINCHEV, Sevdalin",BUL,Men,"- 54KG, Total (Flyweight)",Bronze
23077,1996,Weightlifting,Weightlifting,"PECHALOV, Nikolay",BUL,Men,"54 - 59KG, Total (Bantamweight)",Bronze

In [25]:
badminton_mix = [21773,  21776,  21770,  23703,  23706,  23709,  25720,  25723,  25726,  27727, 
                 27730,  27724, 29784,  29786, 29788]

In [26]:
medals_new.loc[badminton_mix,:]

,Year,Sport,Discipline,Athlete,Country,Gender,Event,Medal
21773,1996,Badminton,Badminton,"KIM, Dong Moon",KOR,Men,Doubles,Gold
21776,1996,Badminton,Badminton,"PARK, Joo-Bong",KOR,Men,Doubles,Silver
21770,1996,Badminton,Badminton,"LIU, Jianjun",CHN,Men,Doubles,Bronze
23703,2000,Badminton,Badminton,"ZHANG, Jun",CHN,Men,Doubles,Gold
23706,2000,Badminton,Badminton,"KUSHANJANTO, Tri",INA,Men,Doubles,Silver
23709,2000,Badminton,Badminton,"GOODE, Joanne",GBR,Women,Doubles,Bronze
25720,2004,Badminton,Badminton,"ZHANG, Jun",CHN,Men,Doubles,Gold
25723,2004,Badminton,Badminton,"ROBERTSON, Nathan",GBR,Men,Doubles,Silver
25726,2004,Badminton,Badminton,"SCHJOLDAGER, Mette",DEN,Women,Doubles,Bronze
27727,2008,Badminton,Badminton,"LEE, Yongdae",KOR,Men,Doubles,Gold
27730,2008,Badminton,Badminton,"WIDIANTO, Nova",INA,Men,Doubles,Silver
27724,2008,Badminton,Badminton,"HE, Hanbin",CHN,Men,Doubles,Bronze
29784,2012,Badminton,Badminton,"ZHANG, Nan",CHN,Men,Doubles,Gold
29786,2012,Badminton,Badminton,"MA, Jin",CHN,Women,Doubles,Silver
29788,2012,Badminton,Badminton,"FISCHER, Joachim",DEN,Men,Doubles,Bronze

In [27]:
medals_new.drop(badminton_mix,axis=0,inplace=True)

In [74]:
Eques_medals = medals_new.loc[(medals_new.Sport=='Equestrian')&(medals_new.Event=='Team'),:]
Eques_medals.head(40)

,Year,Sport,Discipline,Athlete,Country,Gender,Event,Medal
2163,1912,Equestrian,Eventing,"GRAHAM, Ephraim Foster",USA,Men,Team,Bronze
2164,1912,Equestrian,Eventing,"HENRY, Guy Verner",USA,Men,Team,Bronze
2165,1912,Equestrian,Eventing,"LEAR, Benjamin",USA,Men,Team,Bronze
2166,1912,Equestrian,Eventing,"MONTGOMERY, John Carter",USA,Men,Team,Bronze
2167,1912,Equestrian,Eventing,"ADLERCREUTZ, Nils",SWE,Men,Team,Gold
2168,1912,Equestrian,Eventing,"CASPARSSON, Ernst",SWE,Men,Team,Gold
2169,1912,Equestrian,Eventing,"HORN AF AMINNE, Henric",SWE,Men,Team,Gold
2170,1912,Equestrian,Eventing,"NORDLANDER, Axel",SWE,Men,Team,Gold
2171,1912,Equestrian,Eventing,"VON LÃœTSCKEN, Eduard",GER,Men,Team,Silver
2172,1912,Equestrian,Eventing,"VON MOERS, Henrich",GER,Men,Team,Silver
2173,1912,Equestrian,Eventing,"VON ROCHOW, Friedrich Leopold Harry",GER,Men,Team,Silver
2174,1912,Equestrian,Eventing,"VON SCHAESBERG-TANNHEIM, Rudolf Graf",GER,Men,Team,Silver
2178,1912,Equestrian,Jumping,"DELOCH, Ernst Hubertus",GER,Men,Team,Bronze
2179,1912,Equestrian,Jumping,"FREYER, Sigismund",GER,Men,Team,Bronze
2180,1912,Equestrian,Jumping,"VON HOHENAU, Wilhelm",GER,Men,Team,Bronze
2181,1912,Equestrian,Jumping,"VON PREUSSEN, Friedrich Karl",GER,Men,Team,Bronze
2182,1912,Equestrian,Jumping,"KILMAN, Gustaf",SWE,Men,Team,Gold
2183,1912,Equestrian,Jumping,"LEWENHAUPT, Carl Gustaf",SWE,Men,Team,Gold
2184,1912,Equestrian,Jumping,"ROSENCRANTZ, Frederik",SWE,Men,Team,Gold
2185,1912,Equestrian,Jumping,"VON ROSEN, Hans",SWE,Men,Team,Gold
2186,1912,Equestrian,Jumping,"CARIOU, J",FRA,Men,Team,Silver
2187,1912,Equestrian,Jumping,"DUFOURT D'ASTAFORT, Michel",FRA,Men,Team,Silver
2188,1912,Equestrian,Jumping,"MEYER, Bernard",FRA,Men,Team,Silver
2189,1912,Equestrian,Jumping,"SEIGNER, Albert",FRA,Men,Team,Silver
3170,1920,Equestrian,Eventing,"BONVALET, Jules",BEL,Men,Team,Bronze
3171,1920,Equestrian,Eventing,"LINTS, Oswald G. H.",BEL,Men,Team,Bronze
3172,1920,Equestrian,Eventing,"MISONNE, Jacques",BEL,Men,Team,Bronze
3173,1920,Equestrian,Eventing,"MOEREMANS D'EMAUS, Roger",BEL,Men,Team,Bronze
3174,1920,Equestrian,Eventing,"DYRSCH, Gustaf",SWE,Men,Team,Gold
3175,1920,Equestrian,Eventing,"LUNDSTRÃ–M, Age",SWE,Men,Team,Gold
3176,1920,Equestrian,Eventing,"MÃ–RNER, Helmer",SWE,Men,Team,Gold
3177,1920,Equestrian,Eventing,"VON BRAUN, Georg",SWE,Men,Team,Gold
3178,1920,Equestrian,Eventing,"ASINARI, Carlo",ITA,Men,Team,Silver
3179,1920,Equestrian,Eventing,"CACCIANDRA, Giulio",ITA,Men,Team,Silver
3180,1920,Equestrian,Eventing,"CAFFARATTI, Ettore",ITA,Men,Team,Silver
3181,1920,Equestrian,Eventing,"SPIGHI, Garibaldi",ITA,Men,Team,Silver
3185,1920,Equestrian,Jumping,"ALVISI, Alessandro",ITA,Men,Team,Bronze
3186,1920,Equestrian,Jumping,"CACCIANDRA, Giulio",ITA,Men,Team,Bronze
3187,1920,Equestrian,Jumping,"CAFFARATTI, Ettore",ITA,Men,Team,Bronze
3188,1920,Equestrian,Jumping,"SPIGHI, Garibaldi",ITA,Men,Team,Bronze

In [9]:
Eques_pivot = Eques_medals.pivot_table(index=['Year','Country','Sport','Discipline'],
                       columns='Medal',
                       values='Athlete',
                       aggfunc='count',
                       fill_value=0)
Eques_pivot

In [10]:
medals_new[(medals_new.Year == 2008) & (medals_new.Sport=='Basketball')].head(80)

,Year,Sport,Discipline,Athlete,Country,Gender,Event,Medal
27818,2008,Basketball,Basketball,"DELFINO, Carlos Francisco",ARG,Men,Basketball,Bronze
27819,2008,Basketball,Basketball,"GINOBILI, Emanuel David",ARG,Men,Basketball,Bronze
27820,2008,Basketball,Basketball,"GONZALEZ, Roman Javier",ARG,Men,Basketball,Bronze
27821,2008,Basketball,Basketball,"GUTIERREZ LLANAS, Juan Pedro",ARG,Men,Basketball,Bronze
27822,2008,Basketball,Basketball,"GUTIERREZ, Leonardo Martin",ARG,Men,Basketball,Bronze
27823,2008,Basketball,Basketball,"KAMMERICHS, Guillermo Federico",ARG,Men,Basketball,Bronze
27824,2008,Basketball,Basketball,"NOCIONI, Andres Marcelo",ARG,Men,Basketball,Bronze
27825,2008,Basketball,Basketball,"OBERTO, Fabricio Raul Jesus",ARG,Men,Basketball,Bronze
27826,2008,Basketball,Basketball,"PORTA PERNIGOTTI, Antonio Alejandro",ARG,Men,Basketball,Bronze
27827,2008,Basketball,Basketball,"PRIGIONI, Pablo",ARG,Men,Basketball,Bronze
27828,2008,Basketball,Basketball,"QUINTEROS, Alfredo Paolo",ARG,Men,Basketball,Bronze
27829,2008,Basketball,Basketball,"SCOLA, Luis Alberto",ARG,Men,Basketball,Bronze
27830,2008,Basketball,Basketball,"ANTHONY, Carmelo",USA,Men,Basketball,Gold
27831,2008,Basketball,Basketball,"BOOZER, Carlos",USA,Men,Basketball,Gold
27832,2008,Basketball,Basketball,"BOSH, Chris",USA,Men,Basketball,Gold
27833,2008,Basketball,Basketball,"BRYANT, Kobe",USA,Men,Basketball,Gold
27834,2008,Basketball,Basketball,"HOWARD, Dwight",USA,Men,Basketball,Gold
27835,2008,Basketball,Basketball,"JAMES, Lebron",USA,Men,Basketball,Gold
27836,2008,Basketball,Basketball,"KIDD, Jason",USA,Men,Basketball,Gold
27837,2008,Basketball,Basketball,"PAUL, Chris",USA,Men,Basketball,Gold
27838,2008,Basketball,Basketball,"PRINCE, Tayshaun",USA,Men,Basketball,Gold
27839,2008,Basketball,Basketball,"REDD, Michael",USA,Men,Basketball,Gold
27840,2008,Basketball,Basketball,"WADE, Dwyane",USA,Men,Basketball,Gold
27841,2008,Basketball,Basketball,"WILLIAMS, Deron",USA,Men,Basketball,Gold
27842,2008,Basketball,Basketball,"CALDERON, Jose Manuel",ESP,Men,Basketball,Silver
27843,2008,Basketball,Basketball,"FERNANDEZ, Rudy",ESP,Men,Basketball,Silver
27844,2008,Basketball,Basketball,"GARBAJOSA, Jorge",ESP,Men,Basketball,Silver
27845,2008,Basketball,Basketball,"GASOL, Marc",ESP,Men,Basketball,Silver
27846,2008,Basketball,Basketball,"GASOL, Pau",ESP,Men,Basketball,Silver
27847,2008,Basketball,Basketball,"JIMENEZ, Carlos",ESP,Men,Basketball,Silver
27848,2008,Basketball,Basketball,"LOPEZ, Raul",ESP,Men,Basketball,Silver
27849,2008,Basketball,Basketball,"MUMBRU, Alex",ESP,Men,Basketball,Silver
27850,2008,Basketball,Basketball,"NAVARRO, Juan Carlos",ESP,Men,Basketball,Silver
27851,2008,Basketball,Basketball,"REYES, Felipe",ESP,Men,Basketball,Silver
27852,2008,Basketball,Basketball,"RODRIGUEZ, Berni",ESP,Men,Basketball,Silver
27853,2008,Basketball,Basketball,"RUBIO, Ricky",ESP,Men,Basketball,Silver
27854,2008,Basketball,Basketball,"ABROSIMOVA, Svetlana",RUS,Women,Basketball,Bronze
27855,2008,Basketball,Basketball,"HAMMON, Rebekka Linn",RUS,Women,Basketball,Bronze
27856,2008,Basketball,Basketball,"KARPUNINA, Marina",RUS,Women,Basketball,Bronze
27857,2008,Basketball,Basketball,"KORSTIN, Ilona",RUS,Women,Basketball,Bronze
27858,2008,Basketball,Basketball,"KUZINA, Marina",RUS,Women,Basketball,Bronze
27859,2008,Basketball,Basketball,"LISINA, Ekaterina",RUS,Women,Basketball,Bronze
27860,2008,Basketball,Basketball,"OSIPOVA, Irina",RUS,Women,Basketball,Bronze
27861,2008,Basketball,Basketball,"RAKHMATULINA, Oxana",RUS,Women,Basketball,Bronze
27862,2008,Basketball,Basketball,"SHCHEGOLEVA, Tatiana",RUS,Women,Basketball,Bronze
27863,2008,Basketball,Basketball,"SOKOLOVSKAYA, Irina",RUS,Women,Basketball,Bronze
27864,2008,Basketball,Basketball,"STEPANOVA, Maria",RUS,Women,Basketball,Bronze
27865,2008,Basketball,Basketball,"VODOPYANOVA, Natalia",RUS,Women,Basketball,Bronze
27866,2008,Basketball,Basketball,"AUGUSTUS, Seimone",USA,Women,Basketball,Gold
27867,2008,Basketball,Basketball,"BIRD, Sue",USA,Women,Basketball,Gold
27868,2008,Basketball,Basketball,"CATCHINGS, Tamika",USA,Women,Basketball,Gold
27869,2008,Basketball,Basketball,"FOWLES, Sylvia",USA,Women,Basketball,Gold
27870,2008,Basketball,Basketball,"LAWSON, Kara",USA,Women,Basketball,Gold
27871,2008,Basketball,Basketball,"LESLIE, Lisa",USA,Women,Basketball,Gold
27872,2008,Basketball,Basketball,"MILTON-JONES, Delisha",USA,Women,Basketball,Gold
27873,2008,Basketball,Basketball,"PARKER, Candace",USA,Women,Basketball,Gold
27874,2008,Basketball,Basketball,"PONDEXTER, Cappie",USA,Women,Basketball,Gold
27875,2008,Basketball,Basketball,"SMITH, Katie",USA,Women,Basketball,Gold
27876,2008,Basketball,Basketball,"TAURASI, Diana",USA,Women,Basketball,Gold
27877,2008,Basketball,Basketball,"THOMPSON, Tina",USA,Women,Basketball,Gold
27878,2008,Basketball,Basketball,"BATKOVIC, Suzy",AUS,Women,Basketball,Silver
27879,2008,Basketball,Basketball,"BEVILAQUA, Tully",AUS,Women,Basketball,Silver
27880,2008,Basketball,Basketball,"COX, Rohanee",AUS,Women,Basketball,Silver
27881,2008,Basketball,Basketball,"GRIMA, Hollie",AUS,Women,Basketball,Silver
27882,2008,Basketball,Basketball,"HARROWER, Kristi",AUS,Women,Basketball,Silver
27883,2008,Basketball,Basketball,"JACKSON, Lauren",AUS,Women,Basketball,Silver
27884,2008,Basketball,Basketball,"PHILLIPS, Erin",AUS,Women,Basketball,Silver
27885,2008,Basketball,Basketball,"RANDALL, Emma",AUS,Women,Basketball,Silver
27886,2008,Basketball,Basketball,"SCREEN, Jenni",AUS,Women,Basketball,Silver
27887,2008,Basketball,Basketball,"SNELL, Belinda",AUS,Women,Basketball,Silver
27888,2008,Basketball,Basketball,"SUMMERTON, Laura",AUS,Women,Basketball,Silver
27889,2008,Basketball,Basketball,"TAYLOR, Penny",AUS,Women,Basketball,Silver

In [57]:
b = medals_new.pivot_table(index=['Year','Country','Sport','Discipline','Event','Gender'],
                       columns='Medal',
                       values='Athlete',
                       aggfunc='count',
                       fill_value=0)
b

Medal                                                              Bronze  \
Year Country Sport     Discipline          Event           Gender
1896 AUS     Athletics Athletics           1500M           Men          0
                                           800M            Men          0
     AUT     Aquatics  Swimming            100M Freestyle  Men          0
                                           400M Freestyle  Men          0
             Cycling   Cycling Track       10KM            Men          1
...                                                                   ...
2012 USA     Wrestling Wrestling Freestyle Wf 96 KG        Men          0
     UZB     Boxing    Boxing              69 - 75 KG      Men          1
             Judo      Judo                - 60 KG         Men          1
             Wrestling Wrestling Freestyle Wf 120KG        Men          0
     VEN     Fencing   Fencing             Ã‰pÃ©e Individual Men          0

Medal                                                              Gold  \
Year Country Sport     Discipline          Event           Gender
1896 AUS     Athletics Athletics           1500M           Men        1
                                           800M            Men        1
     AUT     Aquatics  Swimming            100M Freestyle  Men        0
                                           400M Freestyle  Men        1
             Cycling   Cycling Track       10KM            Men        0
...                                                                 ...
2012 USA     Wrestling Wrestling Freestyle Wf 96 KG        Men        1
     UZB     Boxing    Boxing              69 - 75 KG      Men        0
             Judo      Judo                - 60 KG         Men        0
             Wrestling Wrestling Freestyle Wf 120KG        Men        1
     VEN     Fencing   Fencing             Ã‰pÃ©e Individual Men        1

Medal                                                              Silver
Year Country Sport     Discipline          Event           Gender
1896 AUS     Athletics Athletics           1500M           Men          0
                                           800M            Men          0
     AUT     Aquatics  Swimming            100M Freestyle  Men          1
                                           400M Freestyle  Men          0
             Cycling   Cycling Track       10KM            Men          0
...                                                                   ...
2012 USA     Wrestling Wrestling Freestyle Wf 96 KG        Men          0
     UZB     Boxing    Boxing              69 - 75 KG      Men          0
             Judo      Judo                - 60 KG         Men          0
             Wrestling Wrestling Freestyle Wf 120KG        Men          0
     VEN     Fencing   Fencing             Ã‰pÃ©e Individual Men          0

[13074 rows x 3 columns]

In [120]:
b.loc[(slice(None),slice(None),'Equestrian',slice(None),'Team'),:]

Medal                                            Bronze  Gold  Silver
Year Country Sport      Discipline Event Gender
1912 FRA     Equestrian Jumping    Team  Men          0     0       4
     GER     Equestrian Eventing   Team  Men          0     0       4
                        Jumping    Team  Men          4     0       0
     SWE     Equestrian Eventing   Team  Men          0     4       0
                        Jumping    Team  Men          0     4       0
...                                                 ...   ...     ...
2012 NED     Equestrian Dressage   Team  Men          1     0       0
                                         Women        2     0       0
                        Jumping    Team  Men          0     0       4
     NZL     Equestrian Eventing   Team  Men          3     0       0
                                         Women        2     0       0

[260 rows x 3 columns]

In [110]:
Equestrian = b.loc[(slice(None),slice(None),'Equestrian',slice(None),'Team'),:].reset_index().\
groupby(['Year','Country','Sport','Discipline']).sum()
Equestrian

Medal                               Bronze  Gold  Silver
Year Country Sport      Discipline
1912 FRA     Equestrian Jumping          0     0       4
     GER     Equestrian Eventing         0     0       4
                        Jumping          4     0       0
     SWE     Equestrian Eventing         0     4       0
                        Jumping          0     4       0
...                                    ...   ...     ...
2012 GER     Equestrian Eventing         0     5       0
     KSA     Equestrian Jumping          4     0       0
     NED     Equestrian Dressage         3     0       0
                        Jumping          0     0       4
     NZL     Equestrian Eventing         5     0       0

[191 rows x 3 columns]

In [111]:
Equestrian.loc[Equestrian['Bronze']>1,'Bronze']=1

In [113]:
Equestrian.loc[Equestrian['Gold']>1,'Gold']=1

In [114]:
Equestrian.loc[Equestrian['Silver']>1,'Silver']=1

In [119]:
Equestrian

Medal                               Bronze  Gold  Silver
Year Country Sport      Discipline
1912 FRA     Equestrian Jumping          0     0       1
     GER     Equestrian Eventing         0     0       1
                        Jumping          1     0       0
     SWE     Equestrian Eventing         0     1       0
                        Jumping          0     1       0
...                                    ...   ...     ...
2012 GER     Equestrian Eventing         0     1       0
     KSA     Equestrian Jumping          1     0       0
     NED     Equestrian Dressage         1     0       0
                        Jumping          0     0       1
     NZL     Equestrian Eventing         1     0       0

[191 rows x 3 columns]

In [117]:
b.loc[(slice(None),slice(None),'Equestrian',slice(None),'Team'),:].reset_index().\
groupby(['Year','Country','Sport','Discipline']).sum()=

SyntaxError: can't assign to function call (<ipython-input-117-dfcd5ed66f43>, line 1)

In [59]:
b.loc[b['Bronze']>5,['Bronze']]=1

In [60]:
b.loc[b['Silver']>5,['Silver']]=1

In [61]:
b.loc[b['Gold']>5,['Gold']]=1

In [62]:
b[b['Gold']>5]

Empty DataFrame
Columns: [Bronze, Gold, Silver]
Index: []

In [63]:
b[(b['Gold']>5) & (b['Silver']>5) ]

Empty DataFrame
Columns: [Bronze, Gold, Silver]
Index: []

In [64]:
b[(b['Gold']==4) & (b['Silver']>5) & (b['Silver']>5)]

Empty DataFrame
Columns: [Bronze, Gold, Silver]
Index: []

In [54]:
b['Bronze'].value_counts()

0    7953
1    4231
2     363
4     282
3     138
5     107
Name: Bronze, dtype: int64

In [55]:
b.loc[(2008),:]

Medal                                                                    Bronze  \
Country Sport         Discipline    Event                        Gender
AFG     Taekwondo     Taekwondo     - 58 KG                      Men          1
ALG     Judo          Judo          48 - 52KG (Half-Lightweight) Women        1
                                    81 - 90KG (Middleweight)     Men          0
ARG     Basketball    Basketball    Basketball                   Men          1
        Cycling       Cycling Track Madison                      Men          0
...                                                                         ...
VIE     Weightlifting Weightlifting - 56KG, Total (Bantamweight) Men          0
ZIM     Aquatics      Swimming      100M Backstroke              Women        0
                                    200M Backstroke              Women        0
                                    200M Individual Medley       Women        0
                                    400M Individual Medley       Women        0

Medal                                                                    Gold  \
Country Sport         Discipline    Event                        Gender
AFG     Taekwondo     Taekwondo     - 58 KG                      Men        0
ALG     Judo          Judo          48 - 52KG (Half-Lightweight) Women      0
                                    81 - 90KG (Middleweight)     Men        0
ARG     Basketball    Basketball    Basketball                   Men        0
        Cycling       Cycling Track Madison                      Men        2
...                                                                       ...
VIE     Weightlifting Weightlifting - 56KG, Total (Bantamweight) Men        0
ZIM     Aquatics      Swimming      100M Backstroke              Women      0
                                    200M Backstroke              Women      1
                                    200M Individual Medley       Women      0
                                    400M Individual Medley       Women      0

Medal                                                                    Silver
Country Sport         Discipline    Event                        Gender
AFG     Taekwondo     Taekwondo     - 58 KG                      Men          0
ALG     Judo          Judo          48 - 52KG (Half-Lightweight) Women        0
                                    81 - 90KG (Middleweight)     Men          1
ARG     Basketball    Basketball    Basketball                   Men          0
        Cycling       Cycling Track Madison                      Men          0
...                                                                         ...
VIE     Weightlifting Weightlifting - 56KG, Total (Bantamweight) Men          1
ZIM     Aquatics      Swimming      100M Backstroke              Women        1
                                    200M Backstroke              Women        0
                                    200M Individual Medley       Women        1
                                    400M Individual Medley       Women        1

[895 rows x 3 columns]

In [56]:
b.loc[(2012,'USA','Aquatics'),:]

Medal                                       Bronze  Gold  Silver
Discipline        Event             Gender
Diving            10M Platform      Men          0     1       0
                  Synchronized 10M  Men          2     0       0
                  Synchronized 3M   Men          2     0       0
                                    Women        0     0       2
Marathon swimming 10KM              Women        0     0       1
Swimming          100M Backstroke   Men          0     1       1
                                    Women        0     1       0
                  100M Breaststroke Men          1     0       0
                                    Women        0     0       1
                  100M Butterfly    Men          0     1       0
                                    Women        0     1       0
                  100M Freestyle    Men          0     1       0
                  200M Backstroke   Men          1     1       0
                                    Women        1     1       0
                  200M Breaststroke Women        0     1       0
                  200M Butterfly    Men          0     0       1
                  200M Freestyle    Women        0     1       0
                  200M Medley       Men          0     1       1
                                    Women        1     0       0
                  400M Freestyle    Men          1     0       0
                                    Women        0     0       1
                  400M Medley       Men          0     1       0
                                    Women        0     0       1
                  4X100M Freestyle  Men          0     0       1
                                    Women        1     0       0
                  4X100M Medley     Men          0     1       0
                                    Women        0     1       0
                  4X200M Freestyle  Men          0     1       0
                                    Women        0     1       0
                  50M Freestyle     Men          0     0       1
                  800M Freestyle    Women        0     1       0
Water Polo        Water Polo        Women        0     1       0

In [43]:
b["All"] = b.sum(axis = 1)

In [44]:
b

Medal                                                              Bronze  \
Year Country Sport     Discipline          Event           Gender
1896 AUS     Athletics Athletics           1500M           Men          0
                                           800M            Men          0
     AUT     Aquatics  Swimming            100M Freestyle  Men          0
                                           400M Freestyle  Men          0
             Cycling   Cycling Track       10KM            Men          1
...                                                                   ...
2012 USA     Wrestling Wrestling Freestyle Wf 96 KG        Men          0
     UZB     Boxing    Boxing              69 - 75 KG      Men          1
             Judo      Judo                - 60 KG         Men          1
             Wrestling Wrestling Freestyle Wf 120KG        Men          0
     VEN     Fencing   Fencing             Ã‰pÃ©e Individual Men          0

Medal                                                              Gold  \
Year Country Sport     Discipline          Event           Gender
1896 AUS     Athletics Athletics           1500M           Men        1
                                           800M            Men        1
     AUT     Aquatics  Swimming            100M Freestyle  Men        0
                                           400M Freestyle  Men        1
             Cycling   Cycling Track       10KM            Men        0
...                                                                 ...
2012 USA     Wrestling Wrestling Freestyle Wf 96 KG        Men        1
     UZB     Boxing    Boxing              69 - 75 KG      Men        0
             Judo      Judo                - 60 KG         Men        0
             Wrestling Wrestling Freestyle Wf 120KG        Men        1
     VEN     Fencing   Fencing             Ã‰pÃ©e Individual Men        1

Medal                                                              Silver  All
Year Country Sport     Discipline          Event           Gender
1896 AUS     Athletics Athletics           1500M           Men          0    3
                                           800M            Men          0    3
     AUT     Aquatics  Swimming            100M Freestyle  Men          1    3
                                           400M Freestyle  Men          0    3
             Cycling   Cycling Track       10KM            Men          0    3
...                                                                   ...  ...
2012 USA     Wrestling Wrestling Freestyle Wf 96 KG        Men          0    3
     UZB     Boxing    Boxing              69 - 75 KG      Men          0    3
             Judo      Judo                - 60 KG         Men          0    3
             Wrestling Wrestling Freestyle Wf 120KG        Men          0    3
     VEN     Fencing   Fencing             Ã‰pÃ©e Individual Men          0    3

[13081 rows x 4 columns]

In [18]:
# b.loc["All"] = b.sum(axis = 0)

In [19]:
b.loc[1976,:]

Medal                                                                     Bronze  \
Country Sport         Discipline      Event                       Gender
AUS     Aquatics      Swimming        1500M Freestyle             Men          1
        Equestrian    Eventing        Team                        Men          4
        Hockey        Hockey          Hockey                      Men          0
        Sailing       Sailing         470 - Two Person Dinghy     Men          2
                                      Single-Handed Dinghy (Finn) Men          1
...                                                                          ...
YUG     Canoe / Kayak Canoe / Kayak F C-1 1000M (Canoe Single)    Men          0
                                      C-1 500M (Canoe Single)     Men          1
        Judo          Judo            70 - 80KG (Middleweight)    Men          1
        Wrestling     Wrestling Gre-R 52 - 57KG (Bantamweight)    Men          0
                                      74 - 82KG (Middleweight)    Men          0

Medal                                                                     Gold  \
Country Sport         Discipline      Event                       Gender
AUS     Aquatics      Swimming        1500M Freestyle             Men        0
        Equestrian    Eventing        Team                        Men        0
        Hockey        Hockey          Hockey                      Men        0
        Sailing       Sailing         470 - Two Person Dinghy     Men        0
                                      Single-Handed Dinghy (Finn) Men        0
...                                                                        ...
YUG     Canoe / Kayak Canoe / Kayak F C-1 1000M (Canoe Single)    Men        1
                                      C-1 500M (Canoe Single)     Men        0
        Judo          Judo            70 - 80KG (Middleweight)    Men        0
        Wrestling     Wrestling Gre-R 52 - 57KG (Bantamweight)    Men        0
                                      74 - 82KG (Middleweight)    Men        1

Medal                                                                     Silver  \
Country Sport         Discipline      Event                       Gender
AUS     Aquatics      Swimming        1500M Freestyle             Men          0
        Equestrian    Eventing        Team                        Men          0
        Hockey        Hockey          Hockey                      Men         16
        Sailing       Sailing         470 - Two Person Dinghy     Men          0
                                      Single-Handed Dinghy (Finn) Men          0
...                                                                          ...
YUG     Canoe / Kayak Canoe / Kayak F C-1 1000M (Canoe Single)    Men          0
                                      C-1 500M (Canoe Single)     Men          0
        Judo          Judo            70 - 80KG (Middleweight)    Men          0
        Wrestling     Wrestling Gre-R 52 - 57KG (Bantamweight)    Men          1
                                      74 - 82KG (Middleweight)    Men          0

Medal                                                                     All
Country Sport         Discipline      Event                       Gender
AUS     Aquatics      Swimming        1500M Freestyle             Men       1
        Equestrian    Eventing        Team                        Men       4
        Hockey        Hockey          Hockey                      Men      16
        Sailing       Sailing         470 - Two Person Dinghy     Men       2
                                      Single-Handed Dinghy (Finn) Men       1
...                                                                       ...
YUG     Canoe / Kayak Canoe / Kayak F C-1 1000M (Canoe Single)    Men       1
                                      C-1 500M (Canoe Single)     Men       1
        Judo          Judo            70 - 80KG (Middleweight)    Men       1
        Wrestling     Wrestling Gre-R 52 - 57KG (Bantamweight)    Men       1
                                      74 - 82KG (Middleweight)    Men       1

[551 rows x 4 columns]

In [20]:
pd.read_csv("wik_1996.csv")

,Rank,Nation,Gold,Silver,Bronze,Total
0,1,United StatesÂ (USA)*,44,32,25,101
1,2,RussiaÂ (RUS),26,21,16,63
2,3,GermanyÂ (GER),20,18,27,65
3,4,ChinaÂ (CHN),16,22,12,50
4,5,FranceÂ (FRA),15,7,15,37
5,6,ItalyÂ (ITA),13,10,12,35
6,7,AustraliaÂ (AUS),9,9,23,41
7,8,CubaÂ (CUB),9,8,8,25
8,9,UkraineÂ (UKR),9,2,12,23
9,10,South KoreaÂ (KOR),7,15,5,27
10,11,PolandÂ (POL),7,5,5,17
11,12,HungaryÂ (HUN),7,4,10,21
12,13,SpainÂ (ESP),5,6,6,17
13,14,RomaniaÂ (ROU),4,7,9,20
14,15,NetherlandsÂ (NED),4,5,10,19
15,16,GreeceÂ (GRE),4,4,0,8
16,17,Czech RepublicÂ (CZE),4,3,4,11
17,18,SwitzerlandÂ (SUI),4,3,0,7
18,19,DenmarkÂ (DEN),4,1,1,6
19,19,TurkeyÂ (TUR),4,1,1,6
20,21,CanadaÂ (CAN),3,11,8,22
21,22,BulgariaÂ (BUL),3,7,5,15
22,23,JapanÂ (JPN),3,6,5,14
23,24,KazakhstanÂ (KAZ),3,4,4,11
24,25,BrazilÂ (BRA),3,3,9,15
25,26,New ZealandÂ (NZL),3,2,1,6
26,27,South AfricaÂ (RSA),3,1,1,5
27,28,IrelandÂ (IRL),3,0,1,4
28,29,SwedenÂ (SWE),2,4,2,8
29,30,NorwayÂ (NOR),2,2,3,7
30,31,BelgiumÂ (BEL),2,2,2,6
31,32,NigeriaÂ (NGR),2,1,3,6
32,33,North KoreaÂ (PRK),2,1,2,5
33,34,AlgeriaÂ (ALG),2,0,1,3
34,34,EthiopiaÂ (ETH),2,0,1,3
35,36,Great BritainÂ (GBR),1,8,6,15
36,37,BelarusÂ (BLR),1,6,8,15
37,38,KenyaÂ (KEN),1,4,3,8
38,39,JamaicaÂ (JAM),1,3,2,6
39,40,FinlandÂ (FIN),1,2,1,4
40,41,IndonesiaÂ (INA),1,1,2,4
41,41,YugoslaviaÂ (YUG),1,1,2,4
42,43,IranÂ (IRI),1,1,1,3
43,43,SlovakiaÂ (SVK),1,1,1,3
44,45,ArmeniaÂ (ARM),1,1,0,2
45,45,CroatiaÂ (CRO),1,1,0,2
46,47,PortugalÂ (POR),1,0,1,2
47,47,ThailandÂ (THA),1,0,1,2
48,49,BurundiÂ (BDI),1,0,0,1
49,49,Costa RicaÂ (CRC),1,0,0,1
50,49,EcuadorÂ (ECU),1,0,0,1
51,49,Hong KongÂ (HKG),1,0,0,1
52,49,SyriaÂ (SYR),1,0,0,1
53,54,ArgentinaÂ (ARG),0,2,1,3
54,55,NamibiaÂ (NAM),0,2,0,2
55,55,SloveniaÂ (SLO),0,2,0,2
56,57,AustriaÂ (AUT),0,1,2,3
57,58,MalaysiaÂ (MAS),0,1,1,2
58,58,MoldovaÂ (MDA),0,1,1,2
59,58,UzbekistanÂ (UZB),0,1,1,2
60,61,AzerbaijanÂ (AZE),0,1,0,1
61,61,BahamasÂ (BAH),0,1,0,1
62,61,Chinese TaipeiÂ (TPE),0,1,0,1
63,61,LatviaÂ (LAT),0,1,0,1
64,61,PhilippinesÂ (PHI),0,1,0,1
65,61,TongaÂ (TGA),0,1,0,1
66,61,ZambiaÂ (ZAM),0,1,0,1
67,68,GeorgiaÂ (GEO),0,0,2,2
68,68,MoroccoÂ (MAR),0,0,2,2
69,68,Trinidad and TobagoÂ (TRI),0,0,2,2
70,71,IndiaÂ (IND),0,0,1,1
71,71,IsraelÂ (ISR),0,0,1,1
72,71,LithuaniaÂ (LTU),0,0,1,1
73,71,MexicoÂ (MEX),0,0,1,1
74,71,MongoliaÂ (MGL),0,0,1,1
75,71,MozambiqueÂ (MOZ),0,0,1,1
76,71,Puerto RicoÂ (PUR),0,0,1,1
77,71,TunisiaÂ (TUN),0,0,1,1
78,71,UgandaÂ (UGA),0,0,1,1
79,Totals (79 nations),Totals (79 nations),271,273,298,842

In [34]:
b.loc[(1996,'BUL'),:]

Medal                                                                  Bronze  \
Sport         Discipline      Event                            Gender
Athletics     Athletics       High Jump                        Women        0
Boxing        Boxing          - 48KG (Light-Flyweight)         Men          0
                              54 - 57KG (Featherweight)        Men          0
                              57 - 60KG (Lightweight)          Men          0
Canoe / Kayak Canoe / Kayak F K-2 1000M (Kayak Double)         Men          2
Gymnastics    Artistic G.     Horizontal Bar                   Men          0
              Rhythmic G.     Group Competition                Women        0
Shooting      Shooting        10M Air Pistol (40 Shots)        Women        1
                              10M Air Pistol (60 Shots)        Men          1
                              25M Pistol (30+30 Shots)         Women        0
                              25M Rapid Fire Pistol (60 Shots) Men          0
Weightlifting Weightlifting   - 54KG, Total (Flyweight)        Men          1
                              54 - 59KG, Total (Bantamweight)  Men          1
                              70 - 76KG, Total (Middleweight)  Men          0
Wrestling     Wrestling Free. 48 - 52KG (Flyweight)            Men          0

Medal                                                                  Gold  \
Sport         Discipline      Event                            Gender
Athletics     Athletics       High Jump                        Women      1
Boxing        Boxing          - 48KG (Light-Flyweight)         Men        1
                              54 - 57KG (Featherweight)        Men        0
                              57 - 60KG (Lightweight)          Men        0
Canoe / Kayak Canoe / Kayak F K-2 1000M (Kayak Double)         Men        0
Gymnastics    Artistic G.     Horizontal Bar                   Men        0
              Rhythmic G.     Group Competition                Women      0
Shooting      Shooting        10M Air Pistol (40 Shots)        Women      0
                              10M Air Pistol (60 Shots)        Men        0
                              25M Pistol (30+30 Shots)         Women      0
                              25M Rapid Fire Pistol (60 Shots) Men        0
Weightlifting Weightlifting   - 54KG, Total (Flyweight)        Men        0
                              54 - 59KG, Total (Bantamweight)  Men        0
                              70 - 76KG, Total (Middleweight)  Men        0
Wrestling     Wrestling Free. 48 - 52KG (Flyweight)            Men        1

Medal                                                                  Silver  \
Sport         Discipline      Event                            Gender
Athletics     Athletics       High Jump                        Women        0
Boxing        Boxing          - 48KG (Light-Flyweight)         Men          0
                              54 - 57KG (Featherweight)        Men          1
                              57 - 60KG (Lightweight)          Men          1
Canoe / Kayak Canoe / Kayak F K-2 1000M (Kayak Double)         Men          0
Gymnastics    Artistic G.     Horizontal Bar                   Men          1
              Rhythmic G.     Group Competition                Women        1
Shooting      Shooting        10M Air Pistol (40 Shots)        Women        0
                              10M Air Pistol (60 Shots)        Men          0
                              25M Pistol (30+30 Shots)         Women        1
                              25M Rapid Fire Pistol (60 Shots) Men          1
Weightlifting Weightlifting   - 54KG, Total (Flyweight)        Men          0
                              54 - 59KG, Total (Bantamweight)  Men          0
                              70 - 76KG, Total (Middleweight)  Men          1
Wrestling     Wrestling Free. 48 - 52KG (Flyweight)            Men          0

Medal                                                                  All
Sport         Discipline      Event                            Gender
Athletics     Athletics       High Jump                        Women     1
Boxing        Boxing          - 48KG (Light-Flyweight)         Men       1
                              54 - 57KG (Featherweight)        Men       1
                              57 - 60KG (Lightweight)          Men       1
Canoe / Kayak Canoe / Kayak F K-2 1000M (Kayak Double)         Men       2
Gymnastics    Artistic G.     Horizontal Bar                   Men       1
              Rhythmic G.     Group Competition                Women     1
Shooting      Shooting        10M Air Pistol (40 Shots)        Women     1
                              10M Air Pistol (60 Shots)        Men       1
                              25M Pistol (30+30 Shots)         Women     1
                              25M Rapid Fire Pistol (60 Shots) Men       1
Weightlifting Weightlifting   - 54KG, Total (Flyweight)        Men       1
                              54 - 59KG, Total (Bantamweight)  Men       1
                              70 - 76KG, Total (Middleweight)  Men       1
Wrestling     Wrestling Free. 48 - 52KG (Flyweight)            Men       1